body {
    background-color: hsl(210, 46%, 95%);
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #FFFFFF;
    display: flex;

    border-radius: 10px;

    font-size: 13px;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;

    box-shadow: 1em 2em 37px 5px hsl(210, 46%, 89%);
    padding: 0;
    margin: 0;
}

.image {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_content_header {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin: 0;
    padding: 0;
}

.card_content_body {
    font-size: 1em;
    color: hsl(214, 17%, 51%);
    margin-bottom: 1.5em;
}

.card_content_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author_container {
    padding-left: 1em;
}

.author_container > p {
    margin: 0 0 0.1em;
}
.author_name {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.article_date {
    color: hsl(212, 23%, 69%);
}

.avatar {
    border-radius: 100%;
    height: 3em;
}

.share {
    border-radius: 100%;
    background-color: hsl(210, 46%, 95%);
    color: hsl(217, 19%, 35%);
    min-height: 2.5em;
    min-width: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.share:hover,
.share--active
{
    background-color: hsl(214, 17%, 51%);
    /*color: hsl(210, 46%, 95%);*/
    color: #FFFFFF;
}

.share_tooltip {
    /*max-width: 50%;*/
    padding: 0.85em 1.8em;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    font-size: 1.5em;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 100;
    bottom: 186%;
    left: -120px;

    box-shadow: 0.125em 0.25em 37px 1px hsl(210, 46%, 89%);
}

.share_tooltip_text {
    color: hsl(212, 17%, 69%);
    font-weight: 500;
    font-size: 0.65em;
    letter-spacing: 0.4em;
}

.share_tooltip::after {
    clear: both;
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.tooltip-icon {
    margin-left: 1em;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        max-width: 320px;
    }

    .image {
        width: 10px;
        min-width: 100%;
        max-height: 200px;
        display: flex;
        align-items: center;
    }

    .image > img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        position: relative;
        top: 8%;
    }

    .card_content {
        padding: 2.96em 2.5em 1em 2.5em;
    }

    .card_content_header {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .card_content_body {
        font-size: 0.99em;
        margin-bottom: 2.5em;
        line-height: 1.5em;
    }

    .author_name {
        font-size: 0.9em;
    }

    .article_date {
        font-size: 0.9em;
    }

    .share_tooltip_text {
        color: hsl(212, 17%, 69%);
        font-weight: 500;
        font-size: 0.65em;
        letter-spacing: 0.4em;
    }

    .share_tooltip {
        position: absolute;
        z-index: 100;
        bottom: -56%;
        left: -100px;
    }

}

@media only screen and (min-width: 901px) {

    .card {
        flex-direction: row;
        max-width: 740px;
    }

    .image {
        width: 45%;
    }

    .image > img {
        width: auto;
        height: 10px;
        min-height: 100%;
    }

    .card_content {
        width: 55%;
        padding: 2.96em;
    }

    .card_content_header {
        font-size: 1.5em;
    }

}